* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2c2c2c;
    color: #fff;
    transition: opacity .5s ease-out;
    opacity: 0;
}

/* Container utama membagi layout menjadi 2 bagian */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: #3b3b3b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 2px #1f1f1f solid;
}

/* Search Bar */
.search-bar {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4c4c4c;
    color: #fff;
    transition: .1s ease-out;
    box-shadow: 0 0 4px #ffffff00;
    outline: .1rem #ffffff00 solid;
}

.search-bar input:focus {
    background-color: #454545;
    box-shadow: 0 0 4px #ffffffff;
    transition: .1s ease-out;
    outline: .1rem #ffffffff solid;
}

/* Chat List */
.chat-list {
    width: 100%;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #262626;
    border-radius: 5px;
    cursor: default;
    border: solid #ffffff00 .1rem;
    transition: .15s ease-out;
}

.chat-item:hover {
    background-color: #1e1e1e;
    border: solid #ffffffff .1rem;
    transition: .15s ease-out;
}

.chat-item img {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding-left: 30px;
    /* ubah link ini untuk ganti gambar chat icons*/
    background-image: url("chaticon.webp");
    background-size: 30px;
}

.chat-details p {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.chat-details span {
    color: #ddd;
}

/* Chat Window */
.chat-window {
    width: 75%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

/* Chat Header */
.chat-header {
    background-color: #3b3b3b;
    color: white;
    text-align: cleft;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px #1f1f1f solid;
    border-left: 0px;
    
}

/* Chat Content */
.chat-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 60%;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.message-author {
    font-size: 14px;
    font-weight: bold;
}


/* Warna balon chat pengirim (kiri) */
.chat-other {
    background-color: #606560;
    color: #fff;
    align-self: flex-start;
    margin-right: auto;
}

/* Warna balon chat penerima (kanan) */
.chat-self {
    background-color: #43803d;
    color: #fff;
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
}

.messageFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.75em;
    color: lightgrey;
}

.reply-box {
    padding: 8px; 
    background-color: #00000080; 
    border-radius: 5px; 
    border-left: 4px solid #ffffff; 
    font-size: 12px;
    margin: 4px 0 4px 0;
    cursor: default;
    transition: .1s ease-out;
}

.reply-box:hover {
    background-color: #000000a0;
    transition: .1s ease-out;
}

.reply-box-source {
    color: #606560; 
    font-weight: bold;
}

/* Footer untuk input pesan */
.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #3b3b3b;
    border: 2px #1f1f1f solid;
    border-left: 0px;
}

.chat-footer input {
    display:inline-block;
    flex-grow: 1;
    padding: 14px;
    border: none;
    border-radius: 20px;
    background-color: #212121;
    color: #ffffff;
    transition: .1s ease-out;
    outline: .1rem #ffffff00 solid;
    box-shadow: 0 0 4px #ffffff00;
}

.chat-footer input:hover {
    transition: .1s ease-out;
    color:#ffffff80;
}

.chat-footer input:focus {
    background-color: #1e1e1e;
    outline: .1rem #ffffffff solid;
    box-shadow: 0 0 4px #ffffffff;
    transition: .1s ease-out;
}

.chat-footer button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #075e54;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s ease-out;
}

.chat-footer button:hover {
    background-color: #0e675c;
    transition: .1s ease-out;
}

.chat-footer button:active {
    background-color: #00584c;
    transition: .1s ease-out;
}

/* Ikon jam untuk pesan dengan ack = 0 */
.readReceipt.clock {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1.5px solid lightgrey;
  border-radius: 50%;
  position: relative;
}

.readReceipt.clock::before {
  content: '';
  width: 2px;
  height: 6px;
  background: lightgrey;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}

.readReceipt.clock::after {
  content: '';
  width: 4px;
  height: 2px;
  background: lightgrey;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
  transform-origin: center;
}

/* Container untuk tanggal */
.date-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

/* Gaya untuk header tanggal */
.message-date-header {
  background-color: #3b3b3b;
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 15px;
  color: white;
  text-align: center;
  max-width: 150px;
}

/* Mengatur gambar media dengan padding dan margin */
.media-thumbnail {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  padding: 5px;
  border-radius: 8px;
  display: block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

/* Gaya untuk gambar dalam modal */
.modal-image, .modal-video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Menjaga rasio gambar */
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Gaya untuk tombol close */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}
