* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e3b29;
    color: #fff;
}

/* Container utama membagi layout menjadi 2 bagian */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: #000000;
    background-image: /*url("https://cdn.discordapp.com/attachments/731482170513948676/1303063726722650163/sidebardecor3.webp?ex=672a642a&is=672912aa&hm=8827e0e1d1198438235f56092b7be1b312c0a57e1d4ab79b2f24410d8bbc5af5&"),*/ linear-gradient(135deg, rgba(36,66,31,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); 
    border: 2px #24421f solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /*background-image: url("https://cdn.discordapp.com/attachments/731482170513948676/1303059369688174714/sidebardecor.webp?ex=672a601b&is=67290e9b&hm=1a24644d7226874841b8dda28409541ef051d028701c357f00ddffc6a4aa0778&");*/
    background-position: center;
    background-repeat: no-repeat;
}

.chats {
    background-color: #4db23d26;
    
    border-left: 4px #4db23d solid;
    padding: 8px;
}

/* Search Bar */
.search-bar {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px #24421f solid;
    background-color: #000000;
    color: #fff;
}

/* Chat List */
.chat-list {
    width: 100%;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4db23d26;
    /*background: linear-gradient(0deg, rgba(40,89,32,1) 0%, rgba(26,48,23,1) 17%, rgba(0,0,0,1) 100%);*/
    border-bottom: 4px #4db23d solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px 5px 0 0;
}

.chat-item img {
    border-radius: 50%;
    margin-right: 10px;
    /* placeholder image dipush keluar biar gk keliatan pake padding trus tambah background image*/
    /*hasilnya sama aja dengan replace image*/ 
    width: 30px;
    height: 30px;
    padding-left: 30px;
    /* ubah link ini untuk ganti gambar chat icons*/
    background-image: url("https://cdn.discordapp.com/attachments/731482170513948676/1302972049312059403/person_icon.webp?ex=672a0ec8&is=6728bd48&hm=5c9088d2cf81dcdbb89dbdf4f0f273dc903a535316338d26f056d0bbdce3eb03&");
    background-size: 30px;
}

.chat-details p {
    font-weight: bold;
    margin-bottom: 5px;
    color: #4db23dcc;
}

.chat-details span {
    color: #ddd;
}

/* Chat Window */
.chat-window {
    width: 75%;
    background-color: #000000;
    background-image: url("https://cdn.discordapp.com/attachments/731482170513948676/1302954613930065951/waloggerbackground5.webp?ex=6729fe8b&is=6728ad0b&hm=b6171bd49b493ea5d7fa9574686adfc91f1297bf68765b73c61185af6e0dacba&");
    background-repeat: no-repeat;
    background-position: center;
    /*background: linear-gradient(90deg, rgba(40,72,35,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(40,72,35,1) 100%);*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Chat Header */
.chat-header {
    background: rgb(49,135,35);
    background: radial-gradient(circle, rgba(5,28,13,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    text-align: cleft;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-top: 2px #24421f solid;
}
/* Chat Content */
.chat-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 60%;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

/* Warna balon chat pengirim (kiri) */
.chat-other {
    background-color: #000000c0;
    color: #fff;
    align-self: flex-start;
    margin-right: auto;
    border: 1px #6f6f6f solid;
}

/* Warna balon chat penerima (kanan) */
.chat-self {
    background-color: #000000c0;
    color: #fff;
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
    border: 1px #4db23d solid;
}

.messageFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.75em;
    color: lightgrey;
}

/* Footer untuk input pesan */
.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #000000;
    border: 2px #24421f solid;
    border-left: 0;
}

.chat-footer input {
    flex-grow: 1;
    padding: 14px;
    border: none;
    border-radius: 20px;
    background-color: #000000;

    color: #ffffff;
    
}

.chat-footer button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #075e54;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
