/* isi ini dengan css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2e3b29;
    color: #fff;
}

/* Container utama membagi layout menjadi 2 bagian */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: #394634;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imports button {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background-color: #505d4e;
    border: solid 0px;
    padding: 8px;
}

.active-file {
    background-color: #505d4e;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}

.file-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.file-data button {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background-color: #868a85;
    border: solid 0px;
    padding: 8px;
}

/* Search Bar */
.search-bar {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #606560;
    color: #fff;
}

/* Chat List */
.chat-list {
    width: 100%;
    overflow-y: auto;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #505d4e;
    border-radius: 5px;
}

.chat-item img {
    border-radius: 50%;
    margin-right: 10px;
}

.chat-details p {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.chat-details span {
    color: #ddd;
}

/* Chat Window */
.chat-window {
    width: 75%;
    background-color: #1d241c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

/* Chat Header */
.chat-header {
    background-color: #606560;
    color: white;
    text-align: cleft;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

/* Chat Content */
.chat-content {
    flex-grow: 1;  /* Biarkan ini untuk membuat chat content mengisi ruang vertikal */
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Atur balon chat secara vertikal */
}

.message {
    max-width: 60%;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    word-wrap: break-word;
    display: block;
}

/* Warna balon chat pengirim (kiri) */
.chat-orang {
    background-color: #606560;
    color: #ddd;
    align-self: flex-start;
    margin-right: auto; /* Agar pesan tidak melebar ke kanan */
}

/* Warna balon chat penerima (kanan) */
.chat-self {
    background-color: #43803d;
    color: #fff;
    align-self: flex-end;
    margin-left: auto; /* Agar pesan tidak melebar ke kiri */
    text-align: right;
}

/* Footer untuk input pesan */
.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #606560;
}

.chat-footer input {
    flex-grow: 1;
    padding: 14px;
    border: none;
    border-radius: 20px;
    background-color: #394634;
}

.chat-footer button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #075e54;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
